<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="../templates/bathroom.png"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>scrapy chat</title>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
        div.msg_bbl {
            background-color: #fff;
            opacity: 0.5;
            padding: 5px 10px;
            border-radius: 10px;
            color: #2C111B;
            margin-bottom: 5px;
            }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="background: linear-gradient(to right, #4BC0C8 -25%, #C779D0, #FEAC5E 125%)">

  <!-- <div style="background-color: #4D4658;
   background-image: url('https://raw.githubusercontent.com/cuprumtan/LANstash/v2-preps/head.png');
   image-resolution: normal;
    background-repeat: no-repeat;
     color: #fff; border: transparent; height: 83px" class="text-left well"><b>
        <font size="25" style="font-family: 'Cantarell', 'Consolas'; margin-left: 163px">
        scrapy</font></b></div>
-->

  <!-- <div class="page-header">
       <img src="https://raw.githubusercontent.com/cuprumtan/LANstash/v2-preps/head.png" class="img-responsive">
       <h1>scrapy</h1>
    </div> -->
  <div class="wrapper">
      <h1>SCRAPY</h1>
  </div>

  <div class="container">
      <div class="col-sm-8">
          <div class="no_message">
              <h2 style='color: #494559'>No message yet..</h2>
              <div class="message_holder"></div>
          </div>
      </div>
      <div class="form-group col-sm-4">
          <form action="" method="POST">
              <b style="color: #fff;">Type your message below:</b>
              <div class="clearfix" style="margin-top: 5px;"></div>
              <input type="text" class="username form-control" placeholder="User Name">
              <div style="padding-top: 5px;"></div>
          <!-- <input type="text" class="message form-control" placeholder="Message"> -->
              <textarea class="message form-control" style="resize: vertical; min-height: 150px" id="Message" placeholder="Message"></textarea>
              <div style="padding-top: 5px;"></div>
              <button style="background-color: #B52153; border: transparent; margin-bottom: 5px" type="submit" class="btn btn-success btn-block">
                  <span class="glyphicon glyphicon-flash"></span> Send</button>
             <!-- <div class="dropdown">
              <button onclick="clicked(this, 'red')" style="background-color: #494559; border: transparent; margin-bottom: 5px" type="button" class="btn btn-success btn-block" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-search"></span> Scan file servers</button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="https://soundcloud.com/discover" target="_blank">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div> -->
              <div class="dropdown">
              <button style="background-color: #494559; border: transparent; margin-bottom: 5px" type="button" class="btn btn-success btn-block" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-search"></span> Scan file servers</button>
              <ul class="dropdown-menu">
                  <script>
                    //var myArray = new Array("1", "2", "3", "4", "5");
                    var server_names_array = JSON.parse('{{servers_array}}');
                    for(i=0; i<server_names_array.length; i++) {
                        // document.write('<li><a href="https://soundcloud.com/discover" target="_blank">' + server_names_array[i] + '</a></li>');
                        document.write('<li><a href="http://' + server_names_array[i] + ':7071" target="_blank">' + server_names_array[i] + '</a></li>');
                    }
                </script>
              </ul>
            </div>

        </form>
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script>
      let socket = io.connect( 'http://' + document.domain + ':' + location.port )
      // broadcast scrapy message
      socket.on( 'connect', function() {
          socket.emit( 'my event', {
          data: 'User Connected'
              } )
          let form = $( 'form' ).on( 'submit', function( e ) {
              e.preventDefault()
              let user_name = $( 'input.username' ).val() + ": "
              let user_input = $( 'textarea.message' ).val()
              socket.emit( 'my event', {
                  user_name : user_name,
                  message : user_input
                  } )
          // empty the input field
              $( 'input.message' ).val( '' ).focus()
              } )

          } )
      // capture message
      socket.on( 'my response', function( msg ) {
          console.log( msg )
          if( typeof msg.user_name !== 'undefined' ) {
              $( 'h2' ).remove()
              $( 'div.message_holder' ).append( '<div class="msg_bbl"><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
              }
              } )
  </script>

  </body>
</html>
