# ignore system directories
OS-security/scrapy/chat_server/__pycache__/*
OS-security/scrapy/chat_server/venv/*
circuit-engineering/.idea/*
circuit-engineering/__pycache__/*
circuit-engineering/venv/*
crypto/DES/.idea/*
crypto/DES/CMakeLists.txt
crypto/DES/cmake-build-debug/*
crypto/DES-python/.idea/*
crypto/DES-python/venv/*
crypto/DES/a.out
crypto/hash-collision/venv/*
crypto/hash-collision/.idea/*
crypto/math-samples/.idea/*
crypto/math-samples/venv/*
crypto/AES/.idea/*
crypto/AES/CMakeLists.txt
crypto/AES/cmake-build-debug/*
crypto/streebog/.idea/*
crypto/streebog/CMakeLists.txt
crypto/streebog/cmake-build-debug/*
crypto/streebog/streebog
crypto/substitution-cipher/.idea/*
crypto/substitution-cipher/__pycache__/*
crypto/substitution-cipher/venv/*
crypto/kuznyechik-register-hack/.idea/*
crypto/kuznyechik-register-hack/venv/*
crypto/RC4/.idea/*
crypto/RC4/venv/*
crypto/DES-timing-attack/venv/*
crypto/DES-timing-attack/.idea/*
crypto/gost34.10-18/.idea/*
crypto/gost34.10-18/venv/*
crypto/RSA- Needham-Schroeder-system/.idea/*
crypto/RSA- Needham-Schroeder-system/__pycache__/*
crypto/RSA- Needham-Schroeder-system/venv/*
crypto/gost34.10-18/__pycache__/*
