<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Панель управления</title>
</head>
<body>
<div class="wrapper">

	<div class="container main-header">
		<b>Панель управления</b>
	</div>

<form action="manage" method="post">
    <div class="container results">
        <b>IP-адрес сервера:</b> 192.168.1.34:1778<br>
        <b>Фильтр:</b><br>
        <div class="row">
            <span>
                Дата с <input type="text" name="date-from"> по <input type="text" name="date-to">
            </span>
        </div>
        <div class="row">
            <span>
                Курс <input type="number" name="course">
            </span>
        </div>
        <div class="row">
            <span>
                Группа <input type="text" name="group">
            </span>
        </div>
        <b>Результаты тестирования:</b>
        <div class="result-card">
            ФИО:<br>
            Группа:<br>
            Курс:<br>
            Количество вопросов:<br>
            Дата и время тестирования:<br>
            <a href="advanced_result" style="margin-top: 10px" target="_blank">Подробные результаты тестирования</a>
        </div>
        <div class="result-card">
            ФИО:<br>
            Группа:<br>
            Курс:<br>
            Количество вопросов:<br>
            Дата и время тестирования:<br>
            <a href="advanced_result" style="margin-top: 10px" target="_blank">Подробные результаты тестирования</a>
        </div>
    </div>

<div>

</div>

</form>
</div>

</body>
</html>