<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Панель управления</title>
</head>
<body>
<div class="wrapper">

	<div class="container main-header">
		<b>Панель управления</b>
	</div>

<form action="manage" method="post">
    <div class="container results">
        <div class="row"><b>IP-адрес сервера:</b> 192.168.1.34:1778</div>
        <div class="row"><b>Фильтр:</b></div>
        <div class="row">
            <span>
                <div class="filter-text-left">Дата с </div><input type="text" name="date_from" pattern="\d\d\.\d\d\.\d\d\d\d" value="{{ session.get('date_from') if session.get('date_from') != None }}"> по <input type="text" name="date_to" pattern="\d\d\.\d\d\.\d\d\d\d" value="{{ session.get('date_to') if session.get('date_to') != None }}">
            </span>
        </div>
        <div class="row">
            <span>
                <div class="filter-text-left">Группа </div><input type="text" name="group" pattern="[А-Яа-я0-9-]{1,}" value="{{ session.get('group') if session.get('group') != None }}">
            </span>
        </div>
        <div class="row">
            <span>
                <div class="filter-text-left">Курс </div><input type="number" name="course" pattern="[1-6]" value="{{ session.get('course') if session.get('course') != None }}">
            </span>
        </div>
        <div class="btns">
            <button type="submit" name="btn_action" value="search" class="btn-submit btn-small left-btn">Применить</button>
            <button type="submit" name="btn_action" value="clear" class="btn-submit btn-small left-btn">Сбросить</button>
        </div>
    </div>
    <div class="container results">
        <div class="row"><b>Результаты тестирования:</b></div>
        <div class="result-card">
            ФИО:<br>
            Группа:<br>
            Курс:<br>
            Количество вопросов:<br>
            Дата и время тестирования:<br>
            <a href="advanced_result" style="margin-top: 10px" target="_blank">Подробные результаты тестирования</a>
        </div>
        <div class="result-card">
            ФИО:<br>
            Группа:<br>
            Курс:<br>
            Количество вопросов:<br>
            Дата и время тестирования:<br>
            <a href="advanced_result" style="margin-top: 10px" target="_blank">Подробные результаты тестирования</a>
        </div>
    </div>

<div>

</div>

</form>
</div>

</body>
</html>