<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Введите данные о себе</title>
</head>
<body>
<div class="wrapper">

    <div class="container main-header">
        <b>Введите данные о себе</b>
    </div>

    <form action="testing" method="post">
        <div class="container user-info">
            <div class="row">
                <div class="info-label"><label>ФИО:</label></div>
                <div class="info-input"><input type="text" name="fio"></div>
            </div>
            <div class="row">
                <div class="info-label"><label>Группа:</label></div>
                <div class="info-input"><input type="text" name="group"></div>
            </div>
            <div class="row">
                <div class="info-label"><label>Курс:</label></div>
                <div class="info-input"><input type="number" name="course"></div>
            </div>
            <div class="row">
                <div class="info-label"><label>Количество вопросов:</label></div>
                <div class="info-input"><input type="number" name="count"></div>
            </div>
            Выберите темы:
            <br>

            {% for key, value in subjects.items() %}
            <label>
                <input type="checkbox" name="subject" value="{{ key }}">
                {{ value }}
            </label><br>
            {% endfor %}


        </div>

        <div class="container">
            <button class="btn-submit">Начать тестирование</button>
        </div>

    </form>
</div>

</body>
</html>